Django==1.9.7
Pillow
MySQL-python

#I instead use 'MYSQL-python', will be use 'mysqlclient' becauce I use 'python3.4' 
#http://stackoverflow.com/questions/14087598/python-3-importerror-no-module-named-configparser
mysqlclient

# 'python-dateutil' 
# Best way to find the months between two dates
# http://stackoverflow.com/questions/4039879/best-way-to-find-the-months-between-two-dates
# http://www.andyvenet.com/using-dateutil-generate-recurring-dates/


























# отримання елемента списку у шаблоні
# http://stackoverflow.com/questions/4651172/reference-list-item-by-index-within-django-template/29664945#29664945
