{% load static from staticfiles %}

<!DOCTYPE html >
<html>
<html lang="uk">

<head>
     <meta charset="utf-8">    
     <title>Сервіс Обліку Студентів-{% block meta_title %}{% endblock meta_title %}</title>
     <meta name="viewport" content="width-device-videth, initial-scale-1"/>
     
     <link rel="stylesheet" 
           href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
           integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
           crossorigin="anonymous">
     <link rel="stylesheet"
           href="{{ PORTAL_URL }}{% static "css/main.css" %}">
           
     {% block extra_css %}{% endblock extra_css %}   
</head>
<body>
  
  <!-- Start Container -->
  <div class="container">


    <!-- Start Header -->
    <div class="row"  id="header">
      {% block logo %}
      <div class="col-xs-8">
        <h1>Сервіс обліку студентів </h1>
      </div>
      {% endblock logo %}
      {% block menu_group %}
      <div class="col-xs-4" id="group-select">
        <strong>Група</strong>
        <select>
          <option value="">Усі студенти </option>
          <option value="">203, Назаренко </option>
          <option value="">219, Могилевцев </option>
        </select>
      </div>
      {% endblock menu_group %}
    </div>
    <!-- End Header -->


    <!-- Start Sub-Header -->
    <div class="row"  id="sub-header">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
        {% url 'home' as url1 %}
        {% url 'journal' as url2 %}
        {% url 'groups' as url3 %}

          <li role="presentation" {% if url1 == request.path  %} class="active" {% endif %}><a href="{% url "home" %}">Студенти</a></li>
          <li role="presentation" {% if url2 in request.path  %} class="active" {% endif %}><a href="{% url "journal" %}">Відвідування</a></li>
          <li role="presentation" {% if url3 in request.path  %} class="active" {% endif %}><a href="{% url "groups" %}">Групи</a></li>
        </ul>
      </div>
    </div>
    <!-- End Sub-Header -->

    <!-- Start Content Columns -->
    <div class="row"  id="content-columns">
      <div class="col-xs-12">

        {% comment "Not used alert so far" %}
        <div class="alert alert-warning" role="alert">Студент успішно доданий222</div>
        {% endcomment %}

        <h2>{% block title %}{% endblock title %}</h2>
        
        {% block content %}{% endblock content %}

      </div>
    </div>
    <!-- End Content Columns -->


    <!-- Start Footer -->
    <div class="row"  id="footer">
      {% block footer %}
      <div class="col-xs-12">
	&copy; 2014 Сервіс Обліку Студентів
      </div>
      {% endblock footer %}
    </div>
    <!-- End Footer -->


  
  </div>
  <!-- End Container--> 
   
    <!-- Javascript Inclusion -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
            crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>

