{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block logo %}
      <div class="col-xs-8">
        <h1>Сервіс обліку студентів - Меню Групи</h1>
      </div>
{% endblock logo %}

{% block menu_group %}
<!-- Скрити меню груп -->
{% endblock menu_group %}

{% block content %}
        <a href="{% url "students_add" %}" class="btn btn-primary">Додати Групу</a>

        <!-- Start Groups Listing -->
        {% with order_by=request.GET.order_by  reverse=request.GET.reverse  page=request.GET.page %}
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th><a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&reverse=1{% endif %}&page={{groups.number}}">Назва{% if order_by == 'title' %}{% if reverse == '1' %} &darr;{% else %} &uarr;{% endif %}{% endif %}</a></th>
              <th><a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&reverse=1{% endif %}&page={{groups.number}}">Староста{% if order_by == 'leader' %}{% if reverse == '1' %} &darr;{% else %} &uarr;{% endif %}{% endif %}</a></th>
              <th>Дії</th>
            </tr>
          </thead>

          <tbody>
            {% for group in groups  %}
            <tr>
              <td>{{ group.id }}</td>
              <td><a href="{% url "groups_edit" group.id %}">{{ group.title }}</a></td>
              <td><a href="{% url "groups_edit" group.id %}">{% if group.leader %}{{ group.leader }}{% else %}Старосту не назначо{% endif %}</a></td>
              <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
                      <li><a href="/journal/{{ group.id }}">Відвідування</a></li>
                      <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
                    </ul>
                  </div>
              </td>
            </tr>
            {% endfor %}
          <tbody>

          </tbody>
        </table>
        {% endwith %}
        <!-- End Groups Listing -->

    {% include "students/pagination_groups.html" %}

{% endblock content %}

{% block footer %}
      <div class="col-xs-12">
	&copy; 2014 Сервіс Обліку Студентів - Меню Групи
      </div>
{% endblock footer %}
