{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}


{% block content %}
        <a href="{% url "students_add" %}" class="btn btn-primary">Додати Групу</a>

        <!-- Start Groups Listing -->
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Назва&uarr;</th>
              <th>Староста</th>
              <th>Дії</th>
            </tr>
          </thead>

          <tbody>
            {% for group in groups  %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url "groups_edit" group.id %}">{{ group.name }}</a></td>
              <td><a href="{% url "groups_edit" group.id %}">{{ group.leader }}</a></td>
              <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Дія
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
                      <li><a href="/journal/{{ group.id }}">Відвідування</a></li>
                      <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
                    </ul>
                  </div>                  
              </td>
            </tr>
            {% endfor %}
          <tbody>

          </tbody>
        </table>
        <!-- End Groups Listing -->


      <nav>
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">Далі</span>
            </a>
          </li>
        </ul>
      </nav>



{% endblock content %}


