{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}<h2>Облік Відвідування</h2>{% endblock title %}

{% block logo %}
      <div class="col-xs-8">
        <h1>Сервіс обліку студентів - Меню Журнал</h1>
      </div>
{% endblock logo %}

{% block menu_group %}
<!-- Скрити меню груп -->
{% endblock menu_group %}

{% block content %}
{% block menu_schoolyears %}
      <div class="col-xs-4" id="schoolyears-select">
        <strong>Навчальний рік</strong>
        <select>
        {% for schoolyear in list_schoolyears %}
        <option value="">{{schoolyear.title}} </option>
        {% endfor %}
        </select>
      </div>
{% endblock menu_schoolyears %} 

{% block menu_subjects %}
      <div class="col-xs-4" id="schoolyears-select">
        <strong>Назва предмету</strong>
        <select>
        {% for subject in list_subjects %}
        <option value="">{{subject.title}} </option>
        {% endfor %}
        </select>
      </div>
{% endblock menu_subjects %} 
      <div class="col-xs-12" id="list_months">
{% include "students/pagination_journal.html" %}
      </div>
      <div class="col-xs-12" id="table">	
        <h6 align="center">&larr;{{ school_month_year|date:"F Y" }}&rarr;  <br>&larr;{{schoolyear_title}} навчального року &rarr;</h6>

          <!-- Start Students Listing -->
          <table class="table table-hover table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Студент</th>
                {% for day in list_days %}
                <th>{{ day|date:"D" }}<br/>{{ day|date:"j" }}</th>
                {% endfor %}

              </tr>
            </thead>
            <tbody>
              {% load index %}
              {% load getattr %}

              {% for student in students %} 
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'students_edit' student.id %}">{{student.last_name}} <br/>{{student.first_name}}</a></td>
                  {% for day in list_days %}
                  <td>
                    <div class="checkbox" >
                      <label><input type="checkbox" 
                      {% for lects in lects_subj_student|index:forloop.parentloop.counter0 %}

                          {% if day|date == lects|getattr:"date,"|date %}  checked {% endif %}

                      {% endfor %} >

                      </label>
                    </div>
                  </td>
                  {% endfor %}
              </tr>
              {% endfor %}
            <tbody>
          </table>
        </div>

{% endblock content %}

{% block footer %}
      <div class="col-xs-12">
	&copy; 2014 Сервіс Обліку Студентів - Меню Журнал
      </div>
{% endblock footer %}



