{% if groups.has_other_pages %}
{% with order_by=request.GET.order_by  reverse=request.GET.reverse %}
<nav>
  <ul class="pagination">
    <li>
      <a href="{% url 'groups' %}?order_by={{order_by}}{% if reverse == '1' %}&reverse={{reverse}}{% endif %}&page={% if groups.has_previous %}{{groups.previous_page_number}}{% else %}1{% endif%}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for p in groups.paginator.page_range %}
    <li {% if groups.number == p %}class="active"{% endif %}>
      <a href="{% url 'groups' %}?order_by={{order_by}}{% if reverse == '1' %}&reverse={{reverse}}{% endif %}&page={{p}}">
        {{p}}
      </a>
    </li>
    {% endfor %}
    <li>
      <a href="{% url 'groups' %}?order_by={{order_by}}{% if reverse == '1' %}&reverse={{reverse}}{% endif %}&page={% if groups.has_next %}{{groups.next_page_number}}{% else %}{{groups.paginator.num_pages}}{% endif%}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endwith %}
{% endif %}
