/* Global Styles */
.alert {
  margin: 10px 0 5px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#group-selector {
  margin-top: 30px;
}

#group-selector select {
  height: 30px;
  border-color: #e89895;
  width: 80%
}

/* Footer Styles */
#footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}


/* Form Styles */
textarea,
select,
input {
  max-width: 300px;
}

/* Journal Table Style */
td.day-box,
th.day-header {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}
#ajax-progress-indicator {
  display: none;
}

/* Student Table Style */
tr.student-table-header th,
tr.student-table-row td  {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}

/* Button Додати Студента */
a.btn {
  margin-bottom: 4px;
}

